{% extends 'base.html' %}
{% block title %} About {% endblock %}

{% block content %}

<div class="main-container"></div>
    <div class="logo">
        <i class="fas fa-recycle"></i>
    </div>
    <div class="main-header">
        <h1>About Recycle Yourself</h1>
    </div>
    <div class="main-content">
        <p>Over 6,000 people die waiting for an organ transplant every year. Per a study in 2013, one of the biggest
            hindrances to getting living donors for those in need of a transplant is that people in need don't feel
            comfortable asking the people in their lives if they're willing to be a donor. </p>
    </div>
</div>

{% endblock %}      
    