{% extends 'base.html' %}
{% block title %} About {% endblock %}

{% block content %}
<h1>About Recycle Yourself</h1>
<p>Sed venenatis odio lacus, quis vestibulum lacus rutrum id. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vitae feugiat sem. Interdum et malesuada fames ac ante ipsum primis in faucibus. Phasellus non turpis aliquam, faucibus orci eget, pulvinar nibh. Proin ultricies in neque at ultricies. Morbi vitae dolor sodales, maximus sem id, molestie dolor. Sed et nunc lectus. Integer at ipsum vitae mauris ornare dictum. Vivamus facilisis, est vitae vehicula euismod, erat felis vulputate dui, non tristique sapien augue sit amet magna. Fusce porta vitae ipsum in mollis. Proin nisl ipsum, aliquet a venenatis pulvinar, accumsan at quam.</p>
{% endblock %}
    