{% extends 'base.html' %}
{% block title %}Donor Info{% endblock %}

{% block content %}
<div class="info-container">
    <div class="info-head">
        <div class="logo">
            <i class="fas fa-recycle"></i>
        </div>
        <div>
            <h1>Potential Donor Information</h1>
        </div>
    </div>
</div>
<div class="info-body">
    <div class="info-posts">
        <h3>Donor Posts</h3>
        {% for post in posts %}
        <ul>
            <li><a href="{% url 'showPost' post.id %}">{{ post.title }} | {{ post.date }}</a></li>
        </ul>
        {% endfor %}
    </div>
    <div class="info-content">
        <h3>Donor Information</h3>
        <p>here</p>
    </div>
</div>
</div>


{% endblock %}  
    