{% extends 'base.html' %}
{% load static %}
{% block title %} Landing {% endblock %}

{% block content %}

    <h1>Landing</h1>
    <p>Over 6,000 people die waiting for an organ transplant every year. One of the biggest hindrances to getting living donors for those in need of a transplant is that people in need don't feel comfortable asking the people in their lives if they're willing to be a donor. 
    Recycle Yourself is designed to give people in need of a life saving donation the ability to ask for help without having to directly have that difficult and awkward conversation with the people in their lives... repeatedly.</p>

{% endblock %}
    