{% extends 'base.html' %} {% load static %} {% block title %} Landing {% endblock %} {% block content %}

<div class="main-container">
    <div class="logo">
        <i class="fas fa-recycle"></i>
    </div>
    <div class="main-header">
        <h1>Recycle Yourself</h1>
    </div>
    <div class="main-content">
        <p>
            Recycle Yourself is
            designed to give people in need of a life saving donation the ability to
            ask for help without having to directly have that difficult and awkward
            conversation with the people in their lives... repeatedly.
        </p>
    </div>
</div>

{% endblock %}  
    