{% extends 'base.html' %}
{% block title %}Recipient Info{% endblock %}

{% block content %}

<div class="info-container">
    <div class="info-head">
        <div class="logo">
            <i class="fas fa-recycle"></i>
        </div>
        <div>
            <h1>Potential Recipient Information</h1>
        </div>
    </div>
</div>
<div class="info-body">
    <div class="info-posts">
        <h3>Recipient Posts</h3>
        {% for post in posts %}
        <ul>
            <li><a href="{% url 'showPost' post.id %}">{{ post.title }} | {{ post.date }}</a></li>
        </ul>
        {% endfor %}
    </div>
    <div class="info-content">
        <h3>Recipient Information</h3>
    </div>
</div>
</div>

{% endblock %}
    