* {
    font-family: Tahoma, Verdana, sans-serif;
}

header {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    background-color: #134A2D;
    color: #CBEAA6;
    padding: 4px;
}

.nav-left {
    font-size: 22px;
    color: #94386E;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px;
}

.nav-right {
    font-size: 22px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav a {
    padding: 3px;
}

nav a:link {
    color: #CBEAA6;
}

nav a:visited {
    color: #94386E;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: #3D0B37;
}

p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

.btn {
    background-color: #3D0B37;
    color: #CBEAA6;
    border-radius: 4px;
}
    