* {
    font-family: Tahoma, Verdana, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: #3D0B37;
    background-color: #CBEAA6;
    page-break-after: auto;
}

header {
    display: flex;
    width: 100vw;
    background-color: #134A2D;
}

.links-container {
    background-color: #134A2D;
    color: #94386E !important;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.main-container {
    width: 85vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin: top 10px !important; 
}

.logo {
    font-size: 7em;
    color: #3D0B37;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.main-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin: top 10px; 
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 5px;
}

.info-container {
    width: 90vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin: top 10px !important; 
}

.info-head {
    display: flex;
    flex-direction: column;
}

.info-body {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.info-posts {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 5px;
}

.info-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-self: flex-start;
    padding: 5px;
}

.profile-info {
    width: 90vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin: top 10px !important; 
}

.form-cont {
    background-color: #134A2D90;
    color: #FAFDED;
    padding: 10px;
    border-radius: 4%;
}

.form-cont .btn {
    background-color: #CBEAA6;
    color: #3D0B37;
    border-radius: 4px;
}

.btn:hover {
    color: #94386E;
}

p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

.btn {
    background-color: #3D0B37;
    color: #CBEAA6;
    border-radius: 4px;
}

    