{% extends 'base.html' %}
{% block title %}Profile{% endblock %}

{% block content %}

<div class="profile-info">
    {% if profile.photo %}
    <img src=" /profile_pics/{{ profile.photo }}/ " class="profile-photo" />
    {% else %}
    <img src="/static/images/user.png" class="profile-photo" />
    {% endif %}
    <h3>Username: {{ profile.user }}</h3>
    <p>Location: {{ profile.location }}</p>
    <p>Bio: {{ profile.bio }}</p>
    <p>Account Type: {{ profile.account_type }}</p>
    <div class="user-posts">
        {% for post in posts %}
        <h4>{{ post.title }}</h4>
        <span>{{ post.author.user }} | {{ post.date }}</span>
        <p>{{ post.body }}</p>
        {% endfor %}
    </div>
    {% if profile.user == request.user %}
    <a href="{% url 'addPost' %}" class="btn">Create Post</a>
    {% endif %}
</div>

{% endblock %}
    